<!DOCTYPE html>
<html>
<title>Blog officiel de Jean Forteroche</title>
    <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="css/style.css" />
        
        <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
</head>
    
    
   
    <header>


        <div class="logo-header">
            <p>Jean Forteroche</p>
        </div>
            <nav>

                <ul>
                    <li><a href="index.html">ACCUEIL</a></li>
                    <li><a href="bio.html">BIOGRAPHIE</a></li>
                    <li><a href="chapitre.html">ROMANS</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                   

                </ul>
            </nav>



    </header>
        
        
        <body background="images/alaska66.jpg">
            
            <div class="titres-chapitre">
            <h2>Billet simple pour l'Alaska</h2>
                <h3>Les chapitres</h3>
            </div>
            
            <div class="container-chapitre">
            
                <h3>Découvrez les chapitres du roman</h3>
                <br/>
                <p>Synopsis : Quelque part, en Alaska, réside une créature violente, dénuée de toute compassion. Elle semble pourtant si humaine... C'est ce que va découvrir Jade, partie en voyage expeditif. Elle va bientôt regretter d'avoir été si curieuse.</p>
                
                <hr>
                
                
            
            
            </div>
            
            
    </body>
</html>