<!DOCTYPE html>
<html>
<title>Blog officiel de Jean Forteroche</title>
    <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="css/style.css" />
        
        <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
</head>
    
    
   
    <header>


        <div class="logo-header">
            <p>Jean Forteroche</p>
        </div>
            <nav>

                <ul>
                    <li><a href="index.html">ACCUEIL</a></li>
                    <li><a href="bio.html">BIOGRAPHIE</a></li>
                    <li><a href="chapitre.html">ROMANS</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                   

                </ul>
            </nav>



    </header>
    
     <body background-image:url(images/alska22.jpg)>
        
        
      <div class="container-contact">       
           <div class="row">
               <div class="col-lg-8 col-lg-offset-1">
                    
                    <form id="contact-form" method="post" action="" role="form">
                       
                                <h1 class="text_form">Pour vos demandes, contactez moi via formulaire.</h1>
                        <div class="divider"></div>
                        <div class="row">
                            
                            <div class="col-md-6">
                                <label for="firstname">Prénom <span class="blue">*</span></label>
                                <input id="firstname" type="text" name="firstname" class="form-control" placeholder="Votre prénom">
                                <p class="comments"></p>
                            </div>
                            <div class="col-md-6">
                                <label for="name">Nom <span class="blue">*</span></label>
                                <input id="name" type="text" name="name" class="form-control" placeholder="Votre Nom">
                                <p class="comments"></p>
                            </div>
                            <div class="col-md-6">
                                <label for="email">Email <span class="blue">*</span></label>
                                <input id="email" type="text" name="email" class="form-control" placeholder="Votre Email">
                                <p class="comments"></p>
                            </div>
                            <div class="col-md-6">
                                <label for="phone">Téléphone</label>
                                <input id="phone" type="tel" name="phone" class="form-control" placeholder="Votre Téléphone">
                                <p class="comments"></p>
                            </div>
                            <div class="col-md-12">
                                <label for="message">Message <span class="blue">*</span></label>
                                <textarea id="message" name="message" class="form-control" placeholder="Votre Message" rows="4"></textarea>
                                <p class="comments"></p>
                            </div>
                            <div class="col-md-12">
                                <p class="blue"><strong>* Ces informations sont requises.</strong></p>
                            </div>
                            <div class="col-md-12">
                                <input type="submit" class="button1" value="Envoyer">
                            </div>    
                        </div>
                    </form>
                </div>
           </div>
        </div>
            
            
            
            
            
            
            
            
    </body>

</html>