html, body{
    margin:0; 
    padding:0; 
    height:100%;
    font-family: 'Segoe UI'; 
}

body{
    background: url(images/ALASKA78.jpg) no-repeat top fixed;
    background-size: cover;
    
}
.container-body{
    position: relative;
}

header{
    padding: 3em;
    display: flex;
    justify-content: space-around;

}


.title-header{
    font-family: 'Great Vibes';
    margin: auto;
    color: rgba(81,234,234,0.75);
    font-size: 40px;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 13px;

   
}

nav li{
    margin-right: 3em;
    font-size: 20px;
   

}
nav a {
    color: #29C7AC;
    padding: 1em;
    font-size: 17px;

     
}
nav a:hover
{
    color: rgba(81,234,234,0.75);
    border-bottom: 2px solid rgba(81,234,234,0.75);
    padding-bottom: 20px;
    text-decoration: none;
    background-color: rgba(0,0,0,0.5);
    padding: 1em;
    border-radius: 0.3em;
}
.container-accueil{
    position: relative;
    margin: 5em auto 15em auto;
    min-height: 500px;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    
}
.container-accueil p {
    font-family: 'Great Vibes';
    font-size: 40px;
    text-align: center;
    color: white;
    padding: 1em;

   
}
.container-accueil a{
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    text-decoration: none;
}
.btn-bio{
    min-width: 17%;
    height: 60px;
    background-color: rgba(81,234,234,0.75);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.btn-bio:hover, .btn-chapitre:hover{
    color: black;
}
.btn-chapitre{
    min-width: 17%;
    height: 60px;
    background-color: rgba(81,234,234,0.75);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    
}


/*SECTION BIOGRAPHIE*/

.img-responsive{
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto 0;
}
.titre-bio{
    padding-top: 5em;
    font-family: Verdana;
    color: WHITE;
    font-size: 50px;
    font-weight: bold;
    text-align: end;
    padding-right: 3em;
    margin-top: 1em;
}

h1{
   font-size: 50px;
   font-weight: bold;
}
h2{
   font-family: Verdana;
   color: WHITE;
   font-size: 40px;
}

.container-bio{
    position: relative;
    top: 0em;
    width: 100%;
    margin: 5em auto 0em auto;
    min-height: 900px;
    background-color:rgba(41, 199, 172,0.95);
    
}

hr{
    width: 40%;
    background-color: white;
}
.container-bio p{
    color: white;
    font-family: auto;
    font-size: 18px;
    width: 94%;
   padding-top: 8em;
}
.texte-biographie{
    font-size: 18px;
    margin: 50px;
}
img{
    width: 30%;
    position: absolute;
    border: 12px solid white;
    top: 11em;
    right: 57em;
}

/*CONTACT PAGE*/

.text_form{
    font-size: 35px;
    font-weight: bold;
    margin: auto;
    padding: 2em;
}
.divider
{
    width: 500px;
    height: 1px;
    background: black;
    margin: auto auto 3em;
}
.container-contact{
    background-color: rgba(250,250,250,1);
    position: relative;
    margin: 5em auto 0em auto;
    height: 800px;
    
    
}
.row{
    margin:auto;
}
label{
    font-weight: 500;
    color:black;
}
#contact-form
{
    font-size: 17px;
    padding-top: 1em;
    border-radius: 2px;

}

.blue
{
    color: #29c7ac;
    font-size: 22px;
    padding: 10px;
    font-family: serif;

}
.form-control
{
    height: 40px;
    font-size: 14px;
}
#contact-form input[type=submit]
{
    margin: 40px auto 0px;
    display: block;
}

#contact-form .thank-you
{
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
}
.button1
{
    border: 1px solid #29c7ac;
    background-color: black;
    color: white;
    width: 100%;        
    font-weight: bold;
    text-transform: uppercase;
    padding: 18px;
    border-radius: 5px;
    transition: all 0.3s ease-in 0s;
    cursor:pointer;
}
.button1:hover
{
    background-color:#29c7ac;
    border-color: #fff;
}

.col-lg-8{
    margin:auto;
}

/*CHAPITRE PAGE*/

.news{
    position: relative;
    margin: auto auto 1em;
    width: 100%;
    background-color: black;
    padding: 2em;
}
.title-h1{
    text-align: center;
    color: white;
}
.title-chap{
    color: WHITE;
    font-size: 40px;
    text-align: center;
    padding: 1em;
    text-decoration: underline;
}
.title-post{
    font-size:30px;
    color:white;
}
.content-post{
    color: white;
}
em, em a{
    font-size:13px;
    color: white;
}
em a, em a:hover {
    color:#29c7ac;
}
.content-comments{
    padding: 2em;
    background-color: #29C7AC;
}
.content-comments h2{
    color: WHITE;
    font-size: 34px;
    text-align: center;
}
form #author{
    background-color: #29C7AC;
    border: 1px solid white;
    width: 30%;
}
textarea{
    background-color: #29C7AC;
    border: 1px solid white;
    width: 30%;
    height: 150px;
}
.returnlist{
    text-align: center;
    color: black;
    text-decoration: underline;
    font-size:18px;
    font-weight: bold;
}
/*CONNEXION PAGE*/

#container-login{
    background-color: rgba(250,250,250,0.5);
    position: relative;
    margin: 5em auto 20em auto;
    padding: 1em;
    height: 370px;
    width: 40%;
}
#loginform{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 15px;
    align-items: center;
}
.title-login{
    font-size: 37px;
    padding: 1em;
}
.button2{
    border: 1px solid #29c7ac;
    background-color: black;
    color: white;
    width: 45%;
    font-weight: bold;
    text-transform: uppercase;
    padding: 18px;
    border-radius: 5px;
    transition: all 0.3s ease-in 0s;
    cursor: pointer;
}

/*FOOTER*/
footer{
    position: relative;
    background-color: black;
    display: flex;
    bottom: 0;
    width: 100%;
    padding: 2em;
}
footer h3 {
    font-weight: 700;
    font-size: 1.2em;
    padding-bottom: 10px;
    color:#29c7ac;
}
footer a {
    font-size: 16px;
    color: white;
}
footer a:hover {
    text-decoration: none;
    color:#29c7ac;
}
footer p{
    font-size:13px;
}
#plansite{
    width:40%;
}
#Media{
    width:40%
}
#Admin{
    width: 20%;
}

/* ADMIN*/
.admin
{
    background: #fff;
    padding: 50px;
    border-radius: 10px;
}
.form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}
.listItem{
    display: flex;
    flex-direction: column;
}